$mediumScreen: 992px;
$smallScreen: 576px;
$white: #FFFFFF;
$black: #000000;
$darkGreen: #075E54;
$blueGreen: #128c7e;
$green: #25d366;
$lightGreen: #dcf8c6;
$beige: #ece5dd;
$lightGray: #f0f2f5;
$darkGray: #3a5564;
$gray: #3B4A54;
$extraGray: #f5f6f6;